/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
  font-size: 80px;
  float: left;
  color: #02b3e4;
}

* {
	width: 100%;
}

.container {
	width: calc(100vw - 40px);
	padding: 20px;
}

.header,
.imageName {
	text-transform: uppercase;
}
.title {
	text-align: right;

}
h1 {
	color: #2d3c49;
	font-weight: 300;
	font-size: 40px;
}

.contentImage,
.smallImage {
	width: 100%;
}

.smallImage h2 {
	color: #7d97ad;
	font-weight: 400;
}

.imageSection {
	width: 100%;
	display: flex;
	display: -webkit-flex;
	flex-wrap: nowrap;
}

.image {
	margin-right: 10px;
	width: calc((100% - 20px)/3);
}

.image:last-child {
	margin: 0;
}

.imageName {
	text-align: center;
}

.imageName h2 {
	color: #000;
}
.linkName {
	font-size: 10px;
}

@media screen and (max-width: 900px) {
	.imageSection {
		display: block;
	}
	.image {
		margin-bottom: 10px;
		width: 100%;
	}
}